
<div style="width: 100%">

  <lib-sirius-stepper
    highlight-color="#ff9949"
    muted-color="#aaaaaa"
    font-family="Helvetica"
    font-size="12px"
    [override-step]="overrideStepIndex$"
    (steps)="stepsChanged($event)"
    (step-changes)="stepIndexChanged($event)"
    #stepper
  >

    <ng-template sirius-logo>

      <!-- Add your logo HTML here -->
      <img src="/assets/logo.png" alt="image">

    </ng-template>

    <!-- Add your steps here -->
    <ng-template sirius-step
     [link]="stepper"
     [step]="1"
     label="STEP ONE"
    >

      <!-- Put any HTML you want inside the step -->
      <div class="blue-text">
        <h2>Step 1</h2>

        <label for="name">Name</label>&nbsp;
        <input id="name" type="text" [(ngModel)]="model.name"/>
      </div>

    </ng-template>

    <ng-template sirius-step
     [link]="stepper"
     [step]="2"
     label="STEP TWO"
    >

      <div class="blue-text">
        <h2>Step 2</h2>

        <label for="meal">Meal</label>&nbsp;
        <select id="meal" [(ngModel)]="model.meal">
          <option value="taco">Taco</option>
          <option value="pizza">Pizza</option>
          <option value="salad">Salad</option>
        </select>
      </div>

    </ng-template>

    <ng-template sirius-step
     [link]="stepper"
     [step]="3"
     label="STEP THREE"
    >

      <div class="blue-text">
        <h2>Step 3</h2>

        <label for="utensils">Utensils?</label>&nbsp;
        <input id="utensils" type="checkbox" [(ngModel)]="model.utensils">

      </div>

    </ng-template>

  </lib-sirius-stepper>

</div>

<span>Step: {{ currentStepIndex }}</span>&nbsp;
<button style="margin-top: 32px" (click)="clickPrevious()">Previous</button>
<button style="margin-top: 32px" (click)="clickNext()">Next</button>

<div>
  <p>Form model value:</p>
  <pre>{{ model | json }}</pre>
</div>
